<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>esbuy_new</display-name>
  <welcome-file-list>
    <welcome-file>index</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>styles</param-name>
    <param-value>/resources/styles</param-value>
  </context-param>
  <context-param>
    <param-name>js</param-name>
    <param-value>/resources/js</param-value>
  </context-param>
  <context-param>
    <param-name>upload</param-name>
    <param-value>/upload</param-value>
  </context-param>
  <servlet>
  	<description>前台主页</description>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>cn.esbuy.servlet.IndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>后台登录</description>
    <servlet-name>AdminLoginServlet</servlet-name>
    <servlet-class>cn.esbuy.servlet.AdminLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginServlet</servlet-name>
    <url-pattern>/adlogin</url-pattern>
  </servlet-mapping>
  <servlet>
  	<description>商品类别列表</description>
    <servlet-name>AdminGoodTypeServlet</servlet-name>
    <servlet-class>cn.esbuy.servlet.AdminGoodTypeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminGoodTypeServlet</servlet-name>
    <url-pattern>/admin/goodtype/list</url-pattern>
  </servlet-mapping>
  <servlet>
  <description>商品类别添加</description>
    <servlet-name>AdminGoodTypeAddServlet</servlet-name>
    <servlet-class>cn.esbuy.servlet.AdminGoodTypeAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminGoodTypeAddServlet</servlet-name>
    <url-pattern>/admin/goodtype/add</url-pattern>
  </servlet-mapping>
  <servlet>
  <description>商品类别编辑</description>
    <servlet-name>AdminGoodTypeEditServlet</servlet-name>
    <servlet-class>cn.esbuy.servlet.AdminGoodTypeEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminGoodTypeEditServlet</servlet-name>
    <url-pattern>/admin/goodtype/edit</url-pattern>
  </servlet-mapping>
  <servlet>
  <description>商品类别删除</description>
    <servlet-name>AdminGoodTypeDeleteServlet</servlet-name>
    <servlet-class>cn.esbuy.servlet.AdminGoodTypeDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminGoodTypeDeleteServlet</servlet-name>
    <url-pattern>/admin/goodtype/delete</url-pattern>
  </servlet-mapping>
  <servlet>
  <description>商品列表</description>
    <servlet-name>AdminGoodServlet</servlet-name>
    <servlet-class>cn.esbuy.servlet.AdminGoodServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminGoodServlet</servlet-name>
    <url-pattern>/admin/good/list</url-pattern>
  </servlet-mapping>
  <servlet>
  <description>商品添加</description>
    <servlet-name>AdminGoodAddServlet</servlet-name>
    <servlet-class>cn.esbuy.servlet.AdminGoodAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminGoodAddServlet</servlet-name>
    <url-pattern>/admin/good/add</url-pattern>
  </servlet-mapping>
  <servlet>
  <description>商品编辑</description>
    <servlet-name>AdminGoodEditServlet</servlet-name>
    <servlet-class>cn.esbuy.servlet.AdminGoodEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminGoodEditServlet</servlet-name>
    <url-pattern>/admin/good/edit</url-pattern>
  </servlet-mapping>
  <servlet>
  <description>商品删除</description>
    <servlet-name>AdminGoodDeleteServlet</servlet-name>
    <servlet-class>cn.esbuy.servlet.AdminGoodDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminGoodDeleteServlet</servlet-name>
    <url-pattern>/admin/good/delete</url-pattern>
  </servlet-mapping>
  <servlet>
  <description>商品查询</description>
    <servlet-name>AdminGoodSearchServlet</servlet-name>
    <servlet-class>cn.esbuy.servlet.AdminGoodSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminGoodSearchServlet</servlet-name>
    <url-pattern>/admin/good/search</url-pattern>
  </servlet-mapping>
  <servlet>
  <description>用户列表</description>
    <servlet-name>AdminUserServlet</servlet-name>
    <servlet-class>cn.esbuy.servlet.AdminUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminUserServlet</servlet-name>
    <url-pattern>/admin/user/list</url-pattern>
  </servlet-mapping>
  <servlet>
  <description>用户编辑</description>
    <servlet-name>AdminUserEditServlet</servlet-name>
    <servlet-class>cn.esbuy.servlet.AdminUserEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminUserEditServlet</servlet-name>
    <url-pattern>/admin/user/edit</url-pattern>
  </servlet-mapping>
  <servlet>
  <description>用户查询</description>
    <servlet-name>AdminUserSearchServlet</servlet-name>
    <servlet-class>cn.esbuy.servlet.AdminUserSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminUserSearchServlet</servlet-name>
    <url-pattern>/admin/user/search</url-pattern>
  </servlet-mapping>
  <servlet>
  <description>用户删除</description>
    <servlet-name>AdminUserDeleteServlet</servlet-name>
    <servlet-class>cn.esbuy.servlet.AdminUserDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminUserDeleteServlet</servlet-name>
    <url-pattern>/admin/user/delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>订单列表</description>
    <servlet-name>AdminOrderServlet</servlet-name>
    <servlet-class>cn.esbuy.servlet.AdminOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminOrderServlet</servlet-name>
    <url-pattern>/admin/order/list</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>订单发货</description>
    <servlet-name>AdminOrderDeliverServlet</servlet-name>
    <servlet-class>cn.esbuy.servlet.AdminOrderDeliverServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminOrderDeliverServlet</servlet-name>
    <url-pattern>/admin/order/deliver</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>订单删除</description>
    <servlet-name>AdminOrderDeleteServlet</servlet-name>
    <servlet-class>cn.esbuy.servlet.AdminOrderDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminOrderDeleteServlet</servlet-name>
    <url-pattern>/admin/order/delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>邮件发送设置</description>
    <servlet-name>AdminEmailSetServlet</servlet-name>
    <servlet-class>cn.esbuy.servlet.AdminEmailSetServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminEmailSetServlet</servlet-name>
    <url-pattern>/admin/email/set</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>订单邮件发送</description>
    <servlet-name>AdminEmailSendServlet</servlet-name>
    <servlet-class>cn.esbuy.servlet.AdminEmailSendServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminEmailSendServlet</servlet-name>
    <url-pattern>/admin/email/send</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>后台注销</description>
    <servlet-name>AdminLoginOutServlet</servlet-name>
    <servlet-class>cn.esbuy.servlet.AdminLoginOutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginOutServlet</servlet-name>
    <url-pattern>/adlogin-out</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>注册</description>
    <servlet-name>SignUpServlet</servlet-name>
    <servlet-class>cn.esbuy.servlet.SignUpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUpServlet</servlet-name>
    <url-pattern>/sign-up</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>登录</description>
    <servlet-name>SignInServlet</servlet-name>
    <servlet-class>cn.esbuy.servlet.SignInServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignInServlet</servlet-name>
    <url-pattern>/sign-in</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>注销</description>
    <servlet-name>SignOutServlet</servlet-name>
    <servlet-class>cn.esbuy.servlet.SignOutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignOutServlet</servlet-name>
    <url-pattern>/sign-out</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>检查用户是否存在</description>
    <servlet-name>UserCheckServlet</servlet-name>
    <servlet-class>cn.esbuy.servlet.UserCheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserCheckServlet</servlet-name>
    <url-pattern>/user/check</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>前台商品列表</description>
    <servlet-name>ListServlet</servlet-name>
    <servlet-class>cn.esbuy.servlet.ListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListServlet</servlet-name>
    <url-pattern>/list</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>前台商品详细</display-name>
    <servlet-name>DetailServlet</servlet-name>
    <servlet-class>cn.esbuy.servlet.DetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetailServlet</servlet-name>
    <url-pattern>/detail</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>购物车列表</display-name>
    <servlet-name>CartServlet</servlet-name>
    <servlet-class>cn.esbuy.servlet.CartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartServlet</servlet-name>
    <url-pattern>/account/cart/list</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>加入购物车</display-name>
    <servlet-name>CartAddServlet</servlet-name>
    <servlet-class>cn.esbuy.servlet.CartAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartAddServlet</servlet-name>
    <url-pattern>/account/cart/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>购物车删除</display-name>
    <servlet-name>CartDeleteServlet</servlet-name>
    <servlet-class>cn.esbuy.servlet.CartDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartDeleteServlet</servlet-name>
    <url-pattern>/account/cart/delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>订单添加</display-name>
    <servlet-name>OrderAddServlet</servlet-name>
    <servlet-class>cn.esbuy.servlet.OrderAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderAddServlet</servlet-name>
    <url-pattern>/account/order/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>我的订单</display-name>
    <servlet-name>OrderServlet</servlet-name>
    <servlet-class>cn.esbuy.servlet.OrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderServlet</servlet-name>
    <url-pattern>/account/myorder</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>确认收货</description>
    <servlet-name>OrderReceiptServlet</servlet-name>
    <servlet-class>cn.esbuy.servlet.OrderReceiptServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderReceiptServlet</servlet-name>
    <url-pattern>/account/order/receipt</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>后台登录过滤</display-name>
    <filter-name>AdminFilter</filter-name>
    <filter-class>cn.esbuy.filter.AdminFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AdminFilter</filter-name>
    <url-pattern>/admin/*</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>前台登录过滤</display-name>
    <filter-name>AccountFilter</filter-name>
    <filter-class>cn.esbuy.filter.AccountFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AccountFilter</filter-name>
    <url-pattern>/account/*</url-pattern>
  </filter-mapping>
</web-app>